<!DOCTYPE html>
<html>
<head>
    <title>Тип заказа</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">Выберите тип заказа</h1>
        <button onclick="window.location.href='/add_product?user_id={{ user_id }}'" class="button">
            Ввести остатки
        </button>
        <button onclick="window.location.href='/order_menu?user_id={{ user_id }}'" class="button">
            Добавить позиции вручную
        </button>
        <button onclick="window.location.href='/?user_id={{ user_id }}'" class="button">
            Назад в главное меню
        </button>
    </div>

    <script>
        let tg = window.Telegram.WebApp;
        tg.expand();
    </script>
</body>
</html> 